/**Statement Section Style**/


.statement{
    width: 80vw;
    margin: 100px;
    color: $secondary-color;

    h1{
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    h5{
        font-size: 18px;
        font-weight: 500;
        margin: 15px 0;
    }
}