/**Variables**/

//colors
$primary-color: #EB5757;
$secondary-color: #222222;
$third-color:#333333;
$white-color:#fff;
$black-color:#000;

//Fonts
$primary-font:'Poppins',sans-serif;
$secondary-font:'Arial',sans-serif;
